@media only screen and (min-width: 320px) {

.header__logo {
	padding-top: 100px;
	text-align: center;
}

.header__name,
.projects__header,
.tech__header {
	text-align: center;
	font-size: 4em;
	color: #FFC777;
	margin-top: 50px;
}

.header__menu {
	float: right;
	position: relative;
	bottom: 110px;
	right: 100px;
}


.header__link {
	text-decoration: none;
	text-align: center;
	color: #6D92A0;
	font-size: 2.5em;
	display: block;
	width: 100%;
	padding: 10px 0px;
	background-color: #4B40D7;
}

.header__menu_hidden {
	display: none;
}

.header__navigation_hidden {
	display: none;
}



.about__header {
	width: 100%;
	background-image: url('../../img/index/dev.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.about__text {
	font-size: 6em;
	color: white;
	padding: 0px 50px;
	background-color: unset;
	text-shadow: 2px 2px 5px black; 
}

.about__text_wide {
	color: #FF9500;
	letter-spacing: 0.4em;
}



.stack__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.stack__title {
	margin-left: 100px;
	color: #FF9500;
	font-size: 2em;
}



.dev__wrapper {
	padding: 0px 50px 50px 50px;
}

.dev__title {
	color: #FF9500;
}

.dev__text {
	color: white;
	text-align: justify;
}



.tabs__wrapper {
	width: 95%;
	margin: 0px auto;
	display: flex;
	justify-content: center;
}

.tabs__item {

}

.tabs__link {
	cursor: pointer;
	color: #FF9500;
	font-size: 3em;
	text-align: center;
	text-decoration: none;
	margin: 15px;
	border-bottom: 2px solid #FF9500;
}

.tabs__description {
	color: white;
}


.projects__item {
	width: 80%;
	margin: 50px auto 0px;
	text-align: center;
}

.projects__preview {
	width: 450px;
	height: 450px;
}

.projects__title, 
.projects__description {
	color: white;
}

.projects__list_hidden {
	display: none;
}



.contact__block  {
	text-align: center;
	margin-bottom: 30px;
}

.contacts__title {
	margin-top: 50px;
	color: #FF9500;
	font-size: 2em;
	text-align: center;
}

.contact__title {
	color: white;
}

.contact__link {
	color: #FF9500;
	text-decoration: none;
}

.footer__text {
	width: 80%;
	font-size: 0.6em;
	color: #8179E1;
	text-align: center;
	margin: 50px auto 10px;
}

}

/*@media only screen and (min-width: 320px)*/
/*@media only screen and (min-width: 576px)*/
/*@media only screen and (min-width: 992px)*/
/*@media only screen and (min-width: 1200px)*/

/*

.about__header {
	width: 50%;
}

.about__text {
	font-size: 3em;
}

.about__text-break_wide {
	font-size: 1.4em;
	letter-spacing: 10px;
}

.about__image {
	width: 960px;
	height: 540px;
}

.stack__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.stack__text {
	font-size: 1em;
}
*/