body {
	font-size: 14pt;
	font-family: 'Baloo Tamma 2';
	background-color: white;
	margin: 0px;
	padding: 0px;
}

.invisible__element {
	display: none;
}

@media only screen and (min-width: 320px) {
	.header__wrapper {
		display: grid;
		grid-template-columns: 80% 20%;
	}

	.header__name {
		margin: 25px 20px;
	}

	.about__header {
		text-align: center;
	}

	.about__text {
		font-size: 1.4em;
		font-family: 'Suez One', serif;
	}

	.about__additional {
		margin: 10px;
		font-size: 0.8em;
	}

	.tech__wrapper {
		height: 150px;
		padding-top: 30px;
		background-color: #0D4F48;
	}
	
	.tech__greeting,
	.tech__description {
		color: white;
		text-align: center;
	}

	.tech__greeting {
		font-family: 'Suez One', serif;	
		margin-bottom: 20px;
	}

	.tech__description {
		font-size: 0.9em;
		margin: 0 10px;
	}


	.tabs__wrapper {
		width: 90%;
		margin: 0px auto;
		display: grid;
		grid-template-columns: 32% 32% 32%;
		text-align: center;
	}

	.tabs__item {
		width: 90%;
		height: 25px;
		background-color: #AA8239;
		position: relative;
		bottom: 20px;
		left: 10px;
		padding-top: 13px;
		border-radius: 5px;
	}

	.tabs__link {
		color: white;
		text-decoration: none;
		display: block;
	}


	.skills__block {
		width: 80%;
		margin: 10px auto;
		border: 1px dashed #0D4F48;
		border-radius: 5px;
		text-align: center;
	}

	.skills__img {
		margin: 15px 0;
		width: 30px;
		height: 30px;
	}

	.skills__title {
		font-weight: bold;
	}

	.skills__description {
		font-size: 0.9em;
		margin: 5px;
	}


	.projects__main-header {
		text-align: center;
		margin: 25px 0 0;
		padding-top: 10px;
		font-weight: bold;

	}

	.tabs__wrapper-1 {
		background-color: #0D4F48;
	}

	.tabs__wrapper-2 {
		width: 90%;
		margin: 0px auto 50px;
		display: grid;
		grid-template-columns: 32% 32% 32%;
		text-align: center;
	}

	.tabs__front,
	.tabs__back,
	.tabs__games {
		width: 90%;
		height: 20px;
		background-color: #AA8239;
		position: relative;
		top: 20px;
		left: 10px;
		padding-top: 10px;
		border-radius: 5px;
		font-size: 0.9em;
		color: white;
	}

	.projects__main-header {
		color: white;
	}

	.projects__header {
		text-align: center;
		margin: 10px;
	}



	.contacts__title {
		text-align: center;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.contact__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;
	}

	.contact__block {
		margin: 15px 0;
	}

	.footer__text {
		margin: 10px;
		font-size: 0.7em;
		text-align: center;
	}
}

@media only screen and (min-width: 576px) {

}


@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}




/*
.header__logo {
		padding-top: 20px;
		text-align: center;
	}

	.header__name,
	.projects__header,
	.tech__header {
		text-align: center;
		font-size: 4em;
		color: #FFC777;
		margin-top: 50px;
	}

	.header__menu {
		float: right;
		position: relative;
		bottom: 110px;
		right: 100px;
	}

	.header__navigation {
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.header__link {
		display: block;
		text-decoration: none;
		color: #6D92A0;
		font-size: 2.5em;
		width: 100%;
		padding: 10px 0px;
		background-color: #4B40D7;
	}

	.header__menu_hidden {
		display: none;
	}

	.header__navigation_hidden {
		display: none;
	}



	.about__header {
		width: 100%;
		background-image: url('../../img/index/dev.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.about__text {
		font-size: 6em;
		color: white;
		padding: 0px 50px;
		background-color: unset;
		text-shadow: 2px 2px 5px black; 
	}

	.about__text_wide {
		color: #FF9500;
		letter-spacing: 0.4em;
	}



	.stack__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 95%;
		margin: 0px auto;
		
	}

	.stack__title {
		text-align: center;
		color: #FF9500;
		font-size: 2em;
	}



	.dev__wrapper {
		padding: 0px 50px 50px 50px;
	}

	.dev__title {
		color: #FF9500;
	}

	.dev__text {
		color: white;
		text-align: justify;
	}



	.tabs__wrapper {
		width: 95%;
		margin: 0px auto;
		display: flex;
		justify-content: center;
	}

	.tabs__item {

	}

	.tabs__link {
		cursor: pointer;
		color: #FF9500;
		font-size: 3em;
		text-align: center;
		text-decoration: none;
		margin: 15px;
		border-bottom: 2px solid #FF9500;
	}

	.tabs__description {
		color: white;
	}


	.projects__item {
		width: 80%;
		margin: 50px auto 0px;
		text-align: center;
	}

	.projects__preview {
		width: 450px;
		height: 450px;
	}

	.projects__title, 
	.projects__description {
		color: white;
	}

	.projects__list_hidden {
		display: none;
	}



	.contact__block  {
		text-align: center;
		margin-bottom: 30px;
	}

	.contacts__title {
		margin-top: 50px;
		color: #FF9500;
		font-size: 2em;
		text-align: center;
	}

	.contact__title {
		color: white;
	}

	.contact__link {
		color: #FF9500;
		text-decoration: none;
	}

	.footer__text {
		width: 80%;
		font-size: 0.6em;
		color: #8179E1;
		text-align: center;
		margin: 50px auto 10px;
	}

	.contact__wrapper {
		display: grid;
		grid-template-columns: 1fr;
	}
*/
